#include <dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h>
#include <dt-bindings/i2c/i2c.h>

/ {
	aliases {
		mydac = &dac_adafruit_ad5693r;
		mypio = &pio1;
        
	};
	chosen {
		
    };
};


&pinctrl {
	i2c0_custom: i2c0_custom {
		group1 {
			pinmux = <I2C0_SDA_P4>;
			input-enable;
			input-schmitt-enable;
            bias-pull-up;
		};

		group2 {
			pinmux = <I2C0_SCL_P5>;
			input-enable;
			input-schmitt-enable;
            bias-pull-up;
		};
	};

	pio1_uart0_default: pio1_uart0_default {
		rx_pins {
			pinmux = <PIO1_P1>;
			input-enable;
			bias-pull-up;
		};

		tx_pins: tx_pins {
			pinmux = <PIO1_P0>;
		};
	};

};

&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_custom>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_FAST>;

	dac_adafruit_ad5693r: dac@4c {
		status = "okay";
		compatible = "adi,ad5693";
		reg = <0x4c>;
		#io-channel-cells = <1>;
	};

};

&pio1 {
	status = "okay";

	pio1_uart0: uart0 {
		pinctrl-0 = <&pio1_uart0_default>;
		pinctrl-names = "default";

		compatible = "robin,pico-uart-pio";
		current-speed = <115200>;
		status = "okay";
	};
};

